.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom right, #f8fafc 0%, rgba(239, 246, 255, 0.9) 50%, #f1f5f9 100%);
  gap: 20px;

  .welcomeSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(to bottom right, #2563eb, #4338ca);
      padding: 18px;
      border-radius: 18px;
      box-shadow: 0 10px 15px -3px rgba(59, 130, 246, 0.2), 0 4px 6px -2px rgba(59, 130, 246, 0.2);
      color: #fff
    }

    .greet {
      font-size: 30px;
      color: #0F172B;
      font-weight: 700;
    }

    .text {
      font-size: 16px;
      color: #45556C;
    }
  }


}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 450px;
  padding: 32px;
  border-radius: 14px;
  gap: 16px;
  box-shadow: 0 1px 3px 0 rgba(229, 231, 235, 0.5),
  0 1px 2px 0 rgba(229, 231, 235, 0.5);


  .inputContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    label {
      font-size: 14px;
      font-weight: 500;
      color: #31413a;
    }

    .inputWrapper {
      position: relative;
      display: flex;
      align-items: center;

      svg {
        position: absolute;
        left: 14px;
        color: #94A3B8;
      }

      .input {
        width: 100%;
        padding: 16px 14px 16px 42px;
        border-radius: 12px;
        border: 1px solid #E2E8F0;
        font-size: 16px;
        outline: none;
        transition: all 0.2s ease;

        &:focus {
          border-color: #2563EB;
          box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.15);
        }
      }

      svg:last-child {
        right: 14px;
        left: auto;
        cursor: pointer;
      }
    }
  }

  .signInBtn {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    border-radius: 16px;
    margin-top: 16px;
    background: linear-gradient(to right, #2563EB, #4F46E5);
    box-shadow: 0 10px 15px -3px rgba(59, 130, 246, 0.3),
    0 4px 6px -2px rgba(59, 130, 246, 0.3);
    transition: all 200ms ease-in-out;
    outline: none;
    border: none;

    &:hover {
      background: linear-gradient(to right, #1D4ED8, #4338CA);
      box-shadow: 0 20px 25px -5px rgba(59, 130, 246, 0.4),
      0 10px 10px -5px rgba(59, 130, 246, 0.4);
      cursor: pointer;
    }
  }
}

.switchPages {
  display: flex;
  align-items: center;
  gap: 4px;

  .question {
    font-size: 14px;
    color: #45556C;
  }

  .switchBtn {
    outline: none;
    border: none;
    background: none;
    font-size: 16px;
    color: #2563EB;
    cursor: pointer;
  }
}
