.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #0f172a, #1e293b, #0f172a);
  color: #CAD5E2;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 16px;
  flex: 0 0 15%;
  border-bottom: 1px solid rgba(51, 65, 85, 0.5);

  .userLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #3b82f6, #4f46e5);
    padding: 8px;
    border-radius: 14px;
    box-shadow: 0 10px 15px -3px rgba(59, 130, 246, 0.2), 0 4px 6px -2px rgba(59, 130, 246, 0.2);
    color: #fff
  }

  .name {
    font-size: 18px;
    font-weight: 700;
    color: #fff

  }

  .email {
    font-size: 12px;
    color: #94a3b8;
  }
}

.navBtns {
  display: flex;
  flex-direction: column;
  flex: 0 0 65%;
  gap: 8px;
  padding: 24px 16px;

  .btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    border-radius: 12px;
    padding: 16px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    color: #b8c4d5;
    cursor: pointer;
    transition: 0.2s ease-out;
    text-decoration: none;

    &:not(.active):hover {
      background-color: rgba(51, 65, 85, 0.5);
      color: #ffffff;
    }
  }

  .active {
    background-color: #2563eb;
    color: #ffffff;
    box-shadow: 0 10px 15px -3px rgba(37, 99, 235, 0.3), 0 4px 6px -2px rgba(37, 99, 235, 0.3);
  }
}


.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  flex: 0 0 20%;
  border-top: 1px solid rgba(51, 65, 85, 0.5);

  .uploadLogoBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    background: linear-gradient(to right, #2563eb, #4f46e5);
    color: #ffffff;
    border: none;
    outline: none;
    padding: 16px 16px;
    font-size: 16px;
    border-radius: 12px;
    font-weight: 500;
    box-shadow: 0 10px 15px -3px rgba(37, 99, 235, 0.3), 0 4px 6px -2px rgba(37, 99, 235, 0.3);
    transition: 0.2s ease;
    cursor: pointer;
    &:hover {
      background: linear-gradient(to right, #1d4ed8, #4338ca);
    }
  }

  .logoutBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    margin-top: 12px;
    color: #94a3b8;
    background-color: transparent;
    text-decoration: none;
    border: none;
    outline: none;
    padding: 8px 16px;
    border-radius: 12px;
    font-size: 14px;

    transition: 0.2s ease;
    cursor: pointer;

    &:hover {
      color: #ffffff;
      background-color: rgba(51, 65, 85, 0.5);
    }
  }
}