.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 24px;
  overflow-y: auto;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;

  .info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .title {
      font-size: 30px;
      font-weight: 600;
    }

    .subTitle {
      font-size: 16px;
      color: #45556c;
    }
  }
}

.matchedJobs {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 28px;
}
